# Directories
.idea/
.vscode/
coverage/
dist/
node_modules/

# Files
**/*.ts
**/.DS_Store
*.log
.env*
package-lock.json
# To lint files and folders with names starting with a dot
!.*

# Project Specific Directories
docs/*/.vitepress/.temp
docs/*/.vitepress/cache
docs/*/.vitepress/dist
