# Directories
.idea/
.vscode/
coverage/
dist/
node_modules/

# Files
**/.DS_Store
*.log
.env*
package-lock.json
ignore bun.lockb

# Project Specific Directories
docs/*/.vitepress/.temp
docs/*/.vitepress/cache
