#temperature-converter {
  & div {
    display: table;

    & label {
      display: table-cell;
      padding: 0.3rem;
      width: 5rem;
    }
    & input {
      display: table-cell;
      margin: 0.3rem;
      padding: 0 0.3rem;
      width: 5rem;
      border: 0.1rem solid aqua;
    }
  }
}
