#temperature-converter {
  padding: 0.4rem;
  width: fit-content;
  border-radius: 0.4rem;
  border: 0.1rem solid currentColor;

  & div {
    display: table;

    & label {
      display: table-cell;
      padding: 0.3rem;
      width: 5rem;
    }
    & input {
      display: table-cell;
      margin: 0.3rem;
      padding: 0 0.3rem;
      width: 5rem;
      border: 0.1rem solid deepskyblue;
      border-radius: 0.4rem;
    }
  }
}
