html, body {
  margin: 0;
  padding: 0;
  line-height:1;
  box-sizing: border-box;
  background-color: #22272e;
}

button {
  background-color: teal;
  color: #e1ffff;
  border-color: black;
  border-radius: 1rem;
  margin: 0.05rem 0rem;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: brown;
}

#menu {
  display: block;
  position: absolute;
  width: 11rem;
}

#menu > button {
  width: 90%;
  cursor: pointer;
}

#contents {
  display: block;
  position: absolute;
  background-color: #ccc;
  left: 10rem;
  bottom: 0;
  right: 40rem;
  top: 0;
  border: 0.1rem solid black;
  padding: 1rem;
  overflow: scroll;
}

#functionContents {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40rem;
  background-color: #22272e;
}

table {
  border: 1px solid black;
}

table tr td {
  border: 1px solid black;
}

pre, code {
  margin: 0;
  padding: 0;
  tab-size: 3;
}

.label {
  padding: 0.5rem;
  color: white;
  cursor: default;
}
